.faq {
  background: #08080a;
}

.faq-grid {
  display: grid;
  grid-template-columns: .7fr 1fr;
  gap: 100px;
}

.faq-grid > div:first-child p {
  max-width: 350px;
  margin: 28px 0 0;
  color: #8f8b89;
  font-size: 13px;
  line-height: 1.8;
}

.faq-list {
  border-top: 1px solid var(--line);
}

.faq-item {
  border-bottom: 1px solid var(--line);
}

.faq-item button {
  width: 100%;
  min-height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  padding: 0;
  background: transparent;
  color: #e5e2df;
  text-align: left;
  font-size: 13px;
  font-weight: 600;
}

.faq-item button svg {
  color: #777371;
  transition: transform .2s;
}

.faq-item.active button svg {
  transform: rotate(45deg);
}

.faq-item p {
  max-width: 700px;
  margin: -3px 0 23px;
  color: #85817f;
  font-size: 12px;
  line-height: 1.8;
}

@media (max-width: 900px) {
  .faq-grid {
    gap: 50px;
  }
}

@media (max-width: 720px) {
  .faq-grid {
    grid-template-columns: 1fr;
  }
}
